

body {
    background-color: grey;
}


.panel-heading{
    background-color: black;
    text-align: center;
}

#person{
    text-align: center;
    font-size: 150%;
}

#vehicle{
    text-align: center;
    font-size: 150%;
}

#film{
    text-align: center;
    font-size: 150%;
}

form{
    display:inline-block;
    position: relative;
}
